@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap'); /*font-family: 'Source Code Pro', monospace;*/


.main-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: left;
    padding:10px;
 }
.footer-icons{
    float: right;
}
.material-icon{
    transform: scale(1.3);
    cursor: pointer;
    color:#d62828;
}
.material-icon:hover{
    transform: scale(1.6);
}
 .footer-li{
    display: inline;
    margin: 40px;
    position: relative;
    top: 6px;
    filter: drop-shadow(5px 5px 5px #222);
 }
 .contact-modal-details{
     color: white;
     font-size: 200%;
     margin: 5%;
     font-family: 'Source Code Pro', monospace;
     font-weight: bold;
 }

 @media screen and (max-width:420px){
    .main-footer{
        text-align: center;
    }
    .contact-modal-details{
        font-size: 140%;
        margin: 4%;
    }
    .footer-icons{
        float: none;
        padding-left: 0px;
    }
    .material-icon{
        transform: scale(1.4);
    }
    .footer-li{
        display: inline;
        margin: 30px;
        position: relative;
        top: 6px;
        filter: drop-shadow(5px 5px 5px #222);
     }
 }
 @media screen and (max-width:360px){
    .main-footer{
        text-align: center;
    }
    .footer-icons{
        float: none;
        padding-left: 0px;
    }
    .contact-modal-details{
        font-size: 120%;
        margin: 2%;
    }
    .material-icon{
        transform: scale(1.4);
    }
    .footer-li{
        display: inline;
        margin: 20px;
        position: relative;
        top: 6px;
        filter: drop-shadow(5px 5px 5px #222);
     }
 }

 @media screen and (max-width:320px){
    .contact-modal-details{
        font-size: 110%;
        margin: 2%;
    }
 }
 
 @media screen and (max-width:375px){
    .contact-modal-details{
        font-size: 125%;
        margin: 3%;
    }
 }