.main-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: left;
    padding:15px;
 }
.footer-icons{
    float: right;
}
.material-icon{
    transform: scale(1.6);
    cursor: pointer;
    color:#d62828;
}
.material-icon:hover{
    transform: scale(1.9);
}
 .footer-li{
    display: inline;
    margin: 40px;
    position: relative;
    top: 6px;
    filter: drop-shadow(5px 5px 5px #222);
 }

 @media screen and (max-width:420px){
    .main-footer{
        text-align: center;
    }
    .footer-icons{
        float: none;
        padding-left: 0px;
    }
    .material-icon{
        transform: scale(1.4);
    }
    .footer-li{
        display: inline;
        margin: 30px;
        position: relative;
        top: 6px;
        filter: drop-shadow(5px 5px 5px #222);
     }
 }
 @media screen and (max-width:360px){
    .main-footer{
        text-align: center;
    }
    .footer-icons{
        float: none;
        padding-left: 0px;
    }
    .material-icon{
        transform: scale(1.4);
    }
    .footer-li{
        display: inline;
        margin: 20px;
        position: relative;
        top: 6px;
        filter: drop-shadow(5px 5px 5px #222);
     }
 }
 