@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap'); /*font-family: 'Source Code Pro', monospace;*/

.header-main{
    margin: 0px;
    position: absolute;
    width: 100%;
    height: auto;
    padding: 10px;
}
.header-container{
    color: #d62828;
}
.l-text{
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;
   position: relative;
   cursor: pointer;
   left:1%;
}
.nav-links{
    float: right;
    margin: 0px;
}
.li-tag{
    display: inline;
    margin: 30px;
    position: relative;
    top: 6px;
}
.li-links{
    color:#f77f00;
    font-size: 30px;
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
}
.li-links:hover{
    color: white;
    text-decoration: none;
}

@media screen and (max-width:420px){
    .header-main{
        background-color: black;
    }
    .l-text{
        display: none;
    }
    .li-links{
        font-size: 20px;
    }
    .li-tag{
        margin: 12px;
        top:1px;
    }
    .nav-links{
        padding-left: 0px;
        float: none;
        margin: 0px;
    }
}
@media screen and (max-width:360px){
    .header-main{
        background-color: black;
        text-align: center;
    }
    .l-text{
        display: none;
    }
    .li-links{
        font-size: 18px;
    }
    .li-tag{
        margin: 10px;
        top:1px;
    }
    .nav-links{
        padding-left: 0px;
        float: none;
        margin: 0px;
    }
}