@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap'); /*font-family: 'Source Code Pro', monospace;*/

.header-main{
    margin: 0px;
    position: absolute;
    width: 100%;
    height: auto;
    padding: 10px;
}
.header-container{
    color: #d62828;
}
.l-text{
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;
   position: relative;
   cursor: pointer;
   left:1%;
}
.nav-links{
    float: right;
    margin: 0px;
}
li{
    display: inline;
    margin: 30px;
    position: relative;
    top: 6px;
}
.li-links{
    color:#f77f00;
    font-size: 30px;
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
}
.li-links:hover{
    color: white;
    text-decoration: none;
}
