@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap'); /*font-family: 'Syne Mono', monospace;*/


::root{
  --xyz-delay:5s;
}
.landing-main{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:#003049;
    margin: 0px;
    /* background: linear-gradient(45deg, rgba(214,40,40,1) 14%, rgba(0,48,73,1) 60%); */
}
.text-div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 800px;
    height: auto;
    text-align: center;
    font-family: 'Syne Mono', monospace;
    color: white;
    letter-spacing: 6px;
}
.greet-tag{
    font-size: 40px;
}
.name-tag{
    font-size:70px;
    margin: 0 auto;
}
.what-tag{
    font-size: 40px;
}
.tech-tag{
  display: inline;
}

@media screen and (max-width:420px){
  .landing-main{
    height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  }
  .text-div{
    width: 100%;
    height: auto;
    padding:10px;
    letter-spacing: 2px;
  }
  .greet-tag{
    font-size: 25px;
    margin: 10px 0px 5px 0px ;
  }
  .name-tag{
    font-size: 35px;
    margin: 0 auto;
  }
  .what-tag{
    font-size: 25px;
    margin: 10px 0px 5px 0px ;
  }
  .tech-tag{
    font-size: 20px;
    margin: 10px 0px 5px 0px ;
  }
}
@media screen and (max-width:360px){
  .landing-main{
    height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }
  .text-div{
    width: 100%;
    height: auto;
    padding:10px;
    letter-spacing: 2px;
  }
  .greet-tag{
    font-size: 22px;
    margin: 10px 0px 5px 0px ;
  }
  .name-tag{
    font-size: 30px;
    margin: 0 auto;
  }
  .what-tag{
    font-size: 22px;
    margin: 10px 0px 5px 0px ;
  }
  .tech-tag{
    font-size: 18px;
    margin: 10px 0px 5px 0px ;
  }
}

@media screen and (max-width:375px){
  .text-div{
    width: 100%;
    height: auto;
    padding:2px;
    letter-spacing: 2px;
  }
}