.videobg{
    position: absolute;
    width: 100%;
    height: auto;
    margin: 0px;
}
.videoTag{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}
.header{
    position: relative;
    color: white;
    text-align: center;
    top:350px;
    font-size: x-large;
}
