.my-work-main{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color:#003049;
    margin: 0px;
    display: block;
    font-family: 'Hind Madurai', sans-serif; 
}
.carousel-control-prev{
    right: 0px;
    width: 70px;
}
.carousel-control-next{
    width: 70px;
}
.slider-title{
    text-align: center;
    position: relative;
    top:14%;
    font-size: 4vw;
    color: white;
}
.carousel-inner{
    padding-left: 2%;
    padding-right: 5%;
}
.carousel-div{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 85%;
    height: auto;
    color:white ; 
    opacity: 0;
}
.project-image{
    width: 800px;
    height: 500px;
    padding: 20px;
}
.carousel-details{
    float: right;
    position: absolute;
    top: 20%;
    padding: 25px;
}
.material-icon-carousel{
    margin: 5%;
    transform: scale(1.6);
    color: black;
}
@media screen and (max-width:420px){
    .carousel-div{
        width: 100%;
    }
    .project-image{
        padding: 5px;
        width: 100%;
        height: 250px;
    }
    .carousel-inner{
        padding-left: 0%;
        padding-right: 0%;
    }
    .carousel-details{
        float: bottom;
        position: relative;
        padding: 10px;
    }
    .carousel-heading{
        font-size: 22px;
    }
    .project-details{
        font-size: 15px;
    }
    .slider-title{
        font-size: 5vh;
    }
    .carousel-indicators{
        display: none;
    }
}

@media screen and (max-width:360px){
    .carousel-details{
        padding: 6px;
    }
    .slider-title{
        font-size: 5vh;
    }
}